<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.tailwindcss.com"></script>

        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        <nav class="max-w-4xl mx-auto py-6 px-8 flex justify-between items-center bg-slate-800">
            <a href="/" class="text-2xl text-white">Lendo</a>

            <div class="space-x-6">
                <a href="{% url 'livros:index' %}" class="text-white">Livros</a>
                <a href="{% url 'autor:index' %}" class="text-white">Autores</a>

                <a href="{% url 'livros:add' %}" class="py-4 px-6 bg-violet-700 hover:bg-violet-900 rounded-md text-white">Adicionar</a>
            </div>
        </nav>

        <div class="max-w-4xl mx-auto py-6 px-8">
             {% block content %}
            {% endblock %}
        </div>

    </body>
</html>